.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.app-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #2c3e50;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.vote-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.vote-button:hover {
  background-color: #2980b9;
}

.message {
  margin: 20px 0;
  font-weight: bold;
  color: #e74c3c;
  /* Red for error messages */
}

.vote-count-title {
  font-size: 1.8em;
  margin-top: 30px;
  color: #2c3e50;
}

.vote-counts {
  margin: 20px 0;
  font-size: 1.5em;
}

.vote-count {
  margin: 10px 0;
}

.vote-count-number {
  font-weight: bold;
  color: #27ae60;
  /* Green for vote counts */
}